<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="H20IQ - A Smart Watering System">
    <meta name="author" content="Jonathan Whitaker, Daniel Houston">
    <title>Settings - H20IQ</title>

    <!-- Special thanks to Twitter Bootstrap-->
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">


    <!-- My Stylesheet -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/style.css' %}"/>

</head>
<body>
    Hello, world. You're at the H20IQ settings.
</body>
</html>