{% extends "main_app/base.html" %}
{% block content %}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
            {% if object_list %}
            {% for station in object_list %}
            <div class="col-sm-3 col-xs-12">
                <div class="list-group">
                    <a class="list-group-item" href="{% url 'main_app:station_detail' station.station_id %}">
                        {{station.description}}
                    </a>
                    <a class="list-group-item" href="{% url 'main_app:station_detail' station.station_id %}">
                        ID: {{station.station_id}}
                    </a>
                    <a class="list-group-item">LAT: {{station.latitude}}</a>
                    <a class="list-group-item">LONG: {{station.longitude}}</a>

                    <div class="list-group-item">
                        <!--<a class="btn btn-success" href="{% url 'main_app:start_station' station.station_id %}">Start</a>-->
                        <button class="btn btn-success" onclick="StartStation({{station.id}})">Start</button>
                        <!--<button class="btn btn-danger" href="{% url 'main_app:stop_station' station.station_id %}">Stop</button>-->
                        <button class="btn btn-danger" onclick="StopStation({{station.id}})">Stop</button>
                    </div>
                    <div class="list-group-item">
                        <a class="btn btn-default"
                           href="{% url 'main_app:monitor_detail' station.station_id %}">Monitor</a>
                        <a class="btn btn-default"
                                                    href="{% url 'main_app:monitor_detail' station.station_id %}">Schedule</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No Stations Currently Set Up</p>
            {% endif %}
        </div>
    </div>
</div>

<script type="text/javascript">
    function StartStation(id) {
        $.ajax() {

        }
    }

    function StopStation(id) {

    }

</script>
{%endblock%}